@model ProjetoBibliotecaMVC.Models.Livro

@{
    ViewData["Title"] = "Adicionar Novo";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Livro</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Titulo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Quantidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger" />
            </div>
        </div>
        

        <div class="form-group">
            <label asp-for="Foto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <p>
                    Selecione a imagem:
                    <input type="file" name="files" accept="image/*">
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Autores</label>
            <div class="col-md-10">
                @foreach (var item in ViewBag.Autores)
                {
                    <input type="checkbox"
                           name="selectedAutores"
                           value="@item.Value" /> <i class="glyphicon glyphicon-user"></i> @item.Text
                        <br />
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
