@model IEnumerable<ProjetoBibliotecaMVC.Models.Livro>
@{
    Layout = null;
}
<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="thumbnail">
                <img src="~/@item.Foto" alt="Capa-@item.Titulo" width="100%">
                <div class="caption">
                    <h3>@item.Titulo</h3>
                    <p>Quantidade: @item.Quantidade</p>
                    <p>
                        <a asp-area="" asp-controller="Carrinho" asp-action="Adicionar"
                           asp-route-id="@item.LivroID" class="btn btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>